<div class="w-full max-w-xs mx-auto ">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="loginForm">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm" id="email" type="email" placeholder="Email" [class.border-red-500]="validField('email')" formControlName="email">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm mb-2" for="password">
        Password 
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline text-sm" id="password" type="password" placeholder="******************" [class.border-red-500]="validField('password')" formControlName="password">
    </div>
    <div class="flex items-center justify-between">
      <button
        [disabled]="loginForm.invalid && loginForm.dirty"
        (click)="login()"
        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Sign In
      </button>
      <a class="inline-block align-baseline text-sm text-blue-500 hover:text-blue-800" href="/register">
        Register
      </a>
    </div>
  </form>
</div>